@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #070b1a;
}

=======
>>>>>>> 4a6010d6e2d1edbbb7c3419289de3ed1f7d8a92c
